<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="dark"></ion-menu-button>
    </ion-buttons>
    <ion-title>Oferecer/Pedir Carona</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="container" [hidden]="keyboard.invisible">
  </div>

  <ion-slides>
    <ion-slide>
      <div class="slide-inner ion-padding">
        <h4>Informe os dados abaixo.</h4>

          <ion-item class="ion-margin-top" lines="none">
            <ion-label>O que deseja</ion-label>
            <ion-select placeholder="Select One">
              <ion-select-option value="o">Oferecer</ion-select-option>
              <ion-select-option value="p">Pedir</ion-select-option>
            </ion-select>
          </ion-item>

        <ion-item class="ion-margin-top" lines="none">
          <ion-input type="text" placeholder="Nome" [(ngModel)]="op.name"></ion-input>
        </ion-item>

        <ion-item class="ion-margin-top" lines="none">
          <ion-input type="text" placeholder="Origem" [(ngModel)]="op.origem"></ion-input>
        </ion-item>

        <ion-item class="ion-margin-top" lines="none">
          <ion-input type="text" placeholder="Destino" [(ngModel)]="op.destino"></ion-input>
        </ion-item>

        <ion-item class="ion-margin-top" lines="none">
          <ion-input type="date" placeholder="Data" [(ngModel)]="op.data"></ion-input>
        </ion-item>

        <ion-item class="ion-margin-top" lines="none">
          <ion-input type="text" placeholder="Vagas" [(ngModel)]="op.vagas"></ion-input>
        </ion-item>

        <ion-item class="ion-margin-top" lines="none">
          <ion-input type="text" placeholder="Horário de saída" [(ngModel)]="op.horario"></ion-input>
        </ion-item>

        <ion-item class="ion-margin-top" lines="none">
          <ion-input type="text" placeholder="Local de saída" [(ngModel)]="op.saida"></ion-input>
        </ion-item>

        <ion-item class="ion-margin-top" lines="none">
          <ion-input type="text" placeholder="Local de chegada" [(ngModel)]="op.chegada"></ion-input>
        </ion-item>

        <ion-item class="ion-margin-top" lines="none">
          <ion-input type="text" placeholder="Contribuição" [(ngModel)]="op.contribuicao">R$:</ion-input>
        </ion-item>

        <ion-button class="ion-margin-top" (click)="salvar()" color="light" expand="block">
          Salvar
        </ion-button>
      </div>
    </ion-slide>
  </ion-slides>

</ion-content>