<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="dark"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  
    <div class="tela">
      <img class="logo" src="./assets/imgs/logo.jpg">
    </div>
  
    <div class="texto">
  
      <h5 class="titulo">
        Bem vindo!
      </h5>
  
      <p class="subtitulo">
        Agora você já pode oferecer carona, com origem e destino, pedir carona com origem e destino,
        ou até mesmo, verificar quais caronas existem ou quem ta pedindo carona.
        Aproveite.
  
        Obrigado!
      </p>
    </div>
  
</ion-content>
